body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


  .App {
    background: linear-gradient(to bottom, #e0e0e0, #9dd5f1); /* Adjust colors as needed */
    /* Other styles for your app */
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .windy-container {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
   
  }
  #windy {
    height: 100%;
    width: 50%;
  }
 
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}


.fetch-button {
  padding: 12px 24px;
  background: linear-gradient(to right, #87CEEB, #00BFFF);
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.location-button:hover {
  background: linear-gradient(to right, #11baf2, #07aaea);
  box-shadow: 10, 10, 10, 10 black;
}
.location-button {
  padding: 12px 24px;
  background: linear-gradient(to right, #87CEEB, #00BFFF);
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.fetch-button:hover {
  background: linear-gradient(to right, #11baf2, #07aaea);
  box-shadow: 10, 10, 10, 10 black;
}



.table-container {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  height: 80%;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

th {
  padding: 5px; 
  background-color: #f2f2f2;
  border: 1px solid #ccc;
}

tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid #ccc;
}

.table-cell {
  padding: 5px; 
  text-align: center;
  border-right: 1px solid #ccc;
  font-size: 12px; 
}